<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>495111595993-jkl3cmocfuv5ed2g7ngao0r86ij0ij9r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.495111595993-jkl3cmocfuv5ed2g7ngao0r86ij0ij9r</string>
	<key>API_KEY</key>
	<string>AIzaSyAE6X8ekU9Lb3a-85RduVodSL9iTF-O9lo</string>
	<key>GCM_SENDER_ID</key>
	<string>495111595993</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.project</string>
	<key>PROJECT_ID</key>
	<string>finance-5b1b4</string>
	<key>STORAGE_BUCKET</key>
	<string>finance-5b1b4.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:495111595993:ios:bf90caf712c80d8089dbc8</string>
</dict>
</plist>